  <!-- Plugin encapsulating all control channels -->
  <gazebo>
    <plugin name="arducopter_plugin" filename="libArduPilotPlugin.so">
      <fdm_addr>127.0.0.1</fdm_addr>
      <fdm_port_in>9002</fdm_port_in>
      <fdm_port_out>9003</fdm_port_out>
      <modelXYZToAirplaneXForwardZDown>0 0 0 3.141593 0 0</modelXYZToAirplaneXForwardZDown>
      <gazeboXYZToNED>0 0 0 3.141593 0 0</gazeboXYZToNED>
      <imuName>iris_demo::iris::iris/imu_link::imu_sensor</imuName>
      <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>

      <!-- Control channels -->
      <xacro:control_channel channel="0" rotor_joint="rotor_joint_0" multiplier="-838" /> <!--cw-->
      <xacro:control_channel channel="1" rotor_joint="rotor_joint_1" multiplier="838" /> <!--ccw-->
      <xacro:control_channel channel="2" rotor_joint="rotor_joint_2" multiplier="-838" /> <!--cw-->
      <xacro:control_channel channel="3" rotor_joint="rotor_joint_3" multiplier="838" /> <!--ccw-->
      <xacro:control_channel channel="4" rotor_joint="rotor_joint_4" multiplier="-838" /> <!--cw-->
      <xacro:control_channel channel="5" rotor_joint="rotor_joint_5" multiplier="838" /> <!--ccw-->
    </plugin>
  </gazebo>


  <xacro:macro name="control_channel" params="channel rotor_joint multiplier">
    <control channel="${channel}">
      <type>VELOCITY</type>
      <offset>0</offset>
      <p_gain>0.20</p_gain>
      <i_gain>0</i_gain>
      <d_gain>0</d_gain>
      <i_max>0</i_max>
      <i_min>0</i_min>
      <cmd_max>2.5</cmd_max>
      <cmd_min>-2.5</cmd_min>
      <jointName>${rotor_joint}</jointName>
      <multiplier>${multiplier}</multiplier>
      <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
    </control>
  </xacro:macro>