<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertial_macros.xacro"/>

    <xacro:macro name="set_mesh" params="mesh scale">
        <xacro:if value="${mesh == 'Box'}">
            <box size="${scale}"/>
        </xacro:if>
        <xacro:if value="${mesh == 'Cylinder'}">
            <xacro:property name="scale_list" value="${scale.split(' ')}" />
            <cylinder radius="${float(scale_list[0]) / 2}" length="${scale_list[2]}"/>
        </xacro:if>
        <xacro:if value="${mesh == 'Sphere'}">
            <xacro:property name="scale_list" value="${scale.split(' ')}" />
            <sphere radius="${float(scale_list[0]) / 2}"/>
        </xacro:if>
        <xacro:if value="${mesh != 'Box'}">
            <xacro:if value="${mesh != 'Cylinder'}">
                <xacro:if value="${mesh != 'Sphere'}">
                    <mesh filename="${mesh}" scale="${scale}"/>
                </xacro:if>
            </xacro:if>
        </xacro:if>
    </xacro:macro>


    <xacro:macro name="link_creator_foundation" params="link_name pose_xyz pose_rpy mesh_path:='Box' scale_xyz **extra_visual **extra_settings">


        <link name="${link_name}">
            <visual>
                <geometry>
                    <xacro:set_mesh mesh="${mesh_path}" scale="${scale_xyz}" />
                </geometry>
                <origin xyz="${pose_xyz}" rpy="${pose_rpy}"/>
                <xacro:insert_block name="extra_visual"/>
            </visual>
            <xacro:insert_block name="extra_settings"/>
        </link>
        <gazebo reference="${link_name}">
            <visual>
                <material>
                    <script>
                        <name>Gazebo/DarkGrey</name>
                    </script>
                </material>
            </visual>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="link_creator" params="link_name pose_xyz pose_rpy mesh_path:='Box' scale_xyz">
        <xacro:link_creator_foundation link_name="${link_name}" pose_xyz="${pose_xyz}" pose_rpy="${pose_rpy}" mesh_path="${mesh_path}" scale_xyz="${scale_xyz}">
            <extra_visual/>
            <extra_settings/>
        </xacro:link_creator_foundation>
    </xacro:macro>



    <xacro:macro name="link_creator_i_foundation" params="link_name pose_xyz pose_rpy mesh_path:='Box' col_mesh_path:='None' scale_xyz col_scale_xyz:='None' seperate_collider_xyzrpy:='None' center_mass_xyz:='0 0 0' mass iner:='None' iner_box_scale_xyz:='None' **extra_collision **extra_visual **extra_settings">
        <xacro:link_creator_foundation link_name="${link_name}" pose_xyz="${pose_xyz}" pose_rpy="${pose_rpy}" mesh_path="${mesh_path}" scale_xyz="${scale_xyz}">
            
            <extra_visual><xacro:insert_block name="extra_visual"/></extra_visual>
            <extra_settings>
                <collision>
                    <geometry>
                        <xacro:if value="${str(col_scale_xyz) == 'None'}">
                            <xacro:if value="${str(col_mesh_path) == 'None'}">
                                <xacro:set_mesh mesh="${mesh_path}" scale="${scale_xyz}" />
                            </xacro:if>
                            <xacro:if value="${str(col_mesh_path) != 'None'}">
                                <xacro:set_mesh mesh="${col_mesh_path}" scale="${scale_xyz}" />
                            </xacro:if>
                        </xacro:if>
                        <xacro:if value="${str(col_scale_xyz) != 'None'}">
                            <xacro:if value="${str(col_mesh_path) == 'None'}">
                                <xacro:set_mesh mesh="${mesh_path}" scale="${col_scale_xyz}" />
                            </xacro:if>
                            <xacro:if value="${str(col_mesh_path) != 'None'}">
                                <xacro:set_mesh mesh="${col_mesh_path}" scale="${col_scale_xyz}" />
                            </xacro:if>
                        </xacro:if>
                    </geometry>
                    <xacro:if value="${str(seperate_collider_xyzrpy) == 'None'}">
                        <origin xyz="${pose_xyz}" rpy="${pose_rpy}"/>
                    </xacro:if>
                    <xacro:if value="${str(seperate_collider_xyzrpy) != 'None'}">
                        <xacro:property name="seperate_collider_xyzrpy_list" value="${seperate_collider_xyzrpy.split(' ')}" />
                        <origin xyz="${seperate_collider_xyzrpy_list[0]} ${seperate_collider_xyzrpy_list[1]} ${seperate_collider_xyzrpy_list[2]}" rpy="${seperate_collider_xyzrpy_list[3]} ${seperate_collider_xyzrpy_list[4]} ${seperate_collider_xyzrpy_list[5]}"/>
                    </xacro:if>
                    <xacro:insert_block name="extra_collision"/>
                </collision>

                <xacro:if value="${str(iner) == 'None'}">
                    <xacro:if value="${str(iner_box_scale_xyz) == 'None'}">
                        <xacro:property name="scale_xyz_list" value="${scale_xyz.split(' ')}" />
                        <xacro:inertial_box mass="${mass}" x="${float(scale_xyz_list[0])}" y="${float(scale_xyz_list[1])}" z="${float(scale_xyz_list[2])}" xyz="${center_mass_xyz}" rpy="0 0 0"/>
                    </xacro:if>
                    <xacro:if value="${str(iner_box_scale_xyz) != 'None'}">
                        <xacro:property name="iner_box_scale_xyz_list" value="${iner_box_scale_xyz.split(' ')}" />
                        <xacro:inertial_box mass="${mass}" x="${float(iner_box_scale_xyz_list[0])}" y="${float(iner_box_scale_xyz_list[1])}" z="${float(iner_box_scale_xyz_list[2])}" xyz="${center_mass_xyz}" rpy="0 0 0"/>
                    </xacro:if>
                </xacro:if>
                <xacro:if value="${str(iner) != 'None'}">
                    <xacro:property name="iner_list" value="${iner.split(' ')}" />
                    <inertial>
                        <origin xyz="${center_mass_xyz}" rpy="0 0 0"/>
                        <mass value="${mass}"/>
                        <inertia ixx="${float(iner_list[0])}" ixy="${float(iner_list[1])}" ixz="${float(iner_list[2])}" iyy="${iner_list[3]}" iyz="${float(iner_list[4])}" izz="${float(iner_list[5])}"/>
                    </inertial>
                </xacro:if>
                <xacro:insert_block name="extra_settings"/>
            </extra_settings>
        </xacro:link_creator_foundation>
    </xacro:macro>

    <xacro:macro name="link_creator_i" params="link_name pose_xyz pose_rpy mesh_path:='Box' col_mesh_path:='None' scale_xyz col_scale_xyz:='None' seperate_collider_xyzrpy:='None' center_mass_xyz:='0 0 0' mass iner:='None' iner_box_scale_xyz:='None'">
        <xacro:link_creator_i_foundation link_name="${link_name}" pose_xyz="${pose_xyz}" pose_rpy="${pose_rpy}" mesh_path="${mesh_path}" col_mesh_path="${col_mesh_path}" scale_xyz="${scale_xyz}" col_scale_xyz="${col_scale_xyz}" seperate_collider_xyzrpy="${seperate_collider_xyzrpy}" center_mass_xyz="${center_mass_xyz}" mass="${mass}" iner="${iner}" iner_box_scale_xyz="${iner_box_scale_xyz}">
            <extra_collision/>
            <extra_visual/>
            <extra_settings/>
        </xacro:link_creator_i_foundation>
    </xacro:macro>

</robot>



