<?xml version="1.0"?>
<robot name="copterPIX" xmlns:xacro="http://www.ros.org/wiki/xacro">




  <!-- Base link -->
  <link name="base_link">
    <!-- You can leave this link empty if you don't need a specific geometry or inertial properties for the base -->
  </link>




  <!-- Drone Core link -->
  <link name="core_link">

    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>


  <!-- Joint (fixed) -->
  <joint name="fixed_joint" type="fixed">
    <parent link="base_link"/>
    <child link="core_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  <gazebo reference="core_link">
    <material> Gazebo/Red</material>
  </gazebo>
</robot>














<!-- <?xml version="1.0"?>
<robot name="drone" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="../../xacros/ardupilot_plugin.xacro" />
    <xacro:include filename="../../xacros/arms.xacro"/>
</robot> -->