<?xml version="1.0"?>
<robot name="simple_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <origin xyz="0 0 0" rpy="0 0 0"/>

  <xacro:property name="prop_cw_mesh" value="$(find drone)/meshes/iris_prop_cw.dae"/>



    <!-- Define the macro with an optional block parameter -->
  <xacro:macro name="my_link" params="name length:=1.0 radius:=0.5 **extra">

    <!-- Use the parameters in the macro -->
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${length}" radius="${radius}" />
          <!-- <mesh filename="${prop_cw_mesh}" scale="1 1 1"/> -->
          <!-- <mesh filename="/home/yoni/drone_ws/src/drone/meshes/iris_prop_ccw.dae" scale="1 1 1"/> -->
          <!-- <mesh filename="/home/yoni/drone_ws/install/drone/share/drone/meshes/iris_prop_ccw.dae" scale="1 1 1"/> -->
        </geometry>
        <material name="yellow">
          <color rgba="1 1 0 1"/>
        </material> 
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${length}" radius="${radius}" />
          <!-- <mesh filename="${prop_cw_mesh}" scale="1 1 1"/> -->
          <!-- <mesh filename="/home/yoni/drone_ws/src/drone/meshes/iris_prop_ccw.dae" scale="1 1 1"/> -->
          <!-- <mesh filename="/home/yoni/drone_ws/install/drone/share/drone/meshes/iris_prop_ccw.dae" scale="1 1 1"/> -->
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <!-- Insert the extra block if provided, else use the default -->
      <xacro:insert_block name="extra" />
    </link>
  </xacro:macro>


<xacro:macro name="aaa" params="">
  <xacro:property name="b" value="base_link"/>
  <xacro:property name="aasdf" value="1 0 0"/>
  <xacro:property name="scale_list" value="${aasdf.split(' ')}" />



  <!-- Recursive macro definition -->
  <xacro:macro name="create_joints" params="i">
    <xacro:if value="${i > 0}">
      <joint name="base_child_joint_${i}" type="fixed">
        <parent link="${b}"/>
        <child link="box_${i}"/>
        <origin xyz="${int(scale_list[0]) * i * sin(90)} ${int(scale_list[0]) * i * sin(pi)} ${int(scale_list[2]) * i}"/>
      </joint>
      <link name="box_${i}">
        <visual>
          <geometry>
            <box size="1 1 1"/>
          </geometry>
          <origin xyz="0 0 0"/>
        </visual>
      </link>

      <!-- Recursively call the macro with a decremented count -->
      <xacro:create_joints i="${i - 1}"/>
    </xacro:if>
  </xacro:macro>

  <!-- Initial call to the macro with the desired number of joints -->
  <xacro:create_joints i="5"/>

  </xacro:macro>

  <xacro:aaa />


  <link name="base_link">
  </link>

  <joint name="base_child_joint" type="fixed">
    <parent link="base_link"/>
    <child link="child_link"/>
    <!-- <child link="basea_link"/>
    <parent link="child_link"/> -->
    <origin xyz="0 0 1"/>
  </joint>

  <!-- Example usage without extra settings -->
  <xacro:my_link name="child_link">
    <extra>
      <!-- This block is intentionally left empty to avoid errors -->
    </extra>
  </xacro:my_link>

  <joint name="child_child_child_joint" type="fixed">
    <parent link="child_link"/>
    <child link="child_child_link"/>
    <!-- <child link="basea_link"/>
    <parent link="child_link"/> -->
    <origin xyz="0 0 1"/>
  </joint>


    <!-- Example usage without extra settings -->
  <xacro:my_link name="child_child_link">
    <extra>
      <!-- This block is intentionally left empty to avoid errors -->
    </extra>
  </xacro:my_link>

</robot>
