<?xml version="1.0"?>
<robot name="simple_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Base link -->
  <link name="base_link">
  </link>

  <link name="base_linkaa">
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 1.0"/>
      </material>
      <origin xyz="30 0 0" rpy="0 0 0"/>
    </visual>

    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>
  

  <joint name="fixed_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_linkaa"/>
  </joint>


  <!-- <link name="base_linkaaa"> -->
    <!-- <pose>30 0 0 0 0 0</pose> -->
    <!-- <origin xyz="30 0 0 0" rpy="0 0 0 0"/> -->
    <!-- You can leave this link empty if you don't need a specific geometry or inertial properties for the base -->
<!-- 
     <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link> -->

  <!-- Box link -->
  <!-- <link name="box_link">
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link> -->


  <!-- Joint (fixed) -->
  <!-- <joint name="fixed_joint" type="fixed">
    <parent link="base_link"/>
    <child link="box_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <!-- <gazebo reference="base_linka">
    <material> Gazebo/Red</material>
  </gazebo> -->
</robot>
